body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: darkorchid;
    margin: 0px;
    padding: 50px;
}

h1 {
    text-align: center;
    color: white;
}

footer p {
    display: inline;
}

footer img{
    height: 5%;
    width: 10%;
}

input{
    margin: 5%;
}

.bouttons {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}