body{
    margin: 5px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body p {
    text-align: center;
    padding-bottom: 0px;
    font-size: 1.5em;
}

main p {
    padding: 1em;
}

header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: darkorchid;
    padding: 1em;
    flex-grow: 1;
}

header  img {
    width: 20%;
    flex-basis: 15%;
}

h1 {
    color: white;
    font-size: 4em;
    justify-content: center;
    flex-basis: 80%;
}

main {
    margin-bottom: 3em;
}

footer p {
    display: inline;
}

footer {
    color: white;
    background-color: darkorchid;
    margin: 0px;
    padding: 2.51em;
    text-align: center;
}

input{
    margin: 5%;
}

.bouttons {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 3em;
}
